<head>
    <title>Boards</title>
    <script src="/js/jquery-ui-1.9.2.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/core.css" media="screen" />
</head>

<body>
    {{> navbar }}
    {{> body}}
</body>

<template name="navbar">
    <div id="header">
        <a id="home" class="header-btn header-logo" href="/" title="Boards"> <span class="app-icon logo">Boards</span> </a>
        {{#if currentUser}}
            <div class="header-user">
                <a id="logout" class="header-btn header-boards js-open-header-boards-menu" title="Logout" href="#">
                    <span class="app-icon light board-icon"></span>
                    <span class="header-btn-text">logout</span>
                </a>
            </div>
        {{/if}}
    </div>
</template>

<template name="body">
    {{#if currentUser}}
        {{#if board_id}}
                {{> board }}
            {{else}}
                {{> all_boards}}
        {{/if}}
    {{else}}
        {{> login_form}}
    {{/if}}
</template>