<template name="all_boards">
    <h3>Boards</h3>
    <div id="boards">
        <ul class="boards-list bold-list gutter js-list-boards clearfix">
            {{#each boards}}
                {{#if editing}}
                    <li><input class="board-name-input" id="board-name-input" type="text" value="{{name}}" /></li>
                {{else}}
                    <li><span class="board_edit">!</span><a class="board_link" href="/board/{{_id}}"> <span class="item-name">{{name}}</span></a></li>
                {{/if}}
            {{/each}}
        </ul>
        <div id="createBoard">
            <input type="text" id="new-board" placeholder="New board" />
        </div>
    </div>
</template>