<template name="board">
    {{#if board_name}}
        {{#if editing_name}}
            <div><input id="board_name_input" type="text" value="{{board_name}}" /></div>
        {{else}}
            <h3 id="board_name">{{board_name}}</h3>
        {{/if}}
        <div class="btn-group" style="float:left;margin-right:10000px;">
            <button id="delete" class="btn">Delete board</button>
            <button id="board_addList" class="btn">Add list</button>
        </div>

        {{#each lists}}{{> list}}{{/each}}
    {{/if}}
</template>

<template name="list">
    <div class="list">
        {{#if editListName}}
            <div><input id="list_name_input" type="text" value="{{name}}" /></div>
        {{else}}
            <div class="list_listName"><h4>{{name}}</h4></div>
        {{/if}}
        <div class="btn-group" >
            <button class="btn list_delete">Delete List</button>
        </div>
        <div id="list_{{_id}}" class="list-cards">
            {{#each cards}}
                <div id="card_{{_id}}" class="list-card">{{header}}</div>
            {{/each}}
        </div>
        <input type="text" class="new_card" placeholder="Add a card..." />
    </div>
</template>