<template name="login_form">
    {{#if login_failed}}
    <div style="background-color: yellow; padding: 3px 3px 3px 3px;">
        login invalid, please try again.
    </div>
    {{/if}}
    <form  id="login_form" class="box login" onsubmit="return false;">
        <fieldset class="boxBody">
            <input id="login" type="text" tabindex="1" placeholder="Username" required>
            <input id="password" type="password" tabindex="2" required>
        </fieldset>
        <footer>
            <label><input type="checkbox" tabindex="3">Keep me logged in</label>
            <input type="submit" class="btnLogin" value="Login" tabindex="4">
        </footer>
    </form>
</template>