html,body,input,select,textarea{font:14px/18px "Helvetica Neue",Arial,Helvetica,sans-serif;color:#393939;}
#header{background:#23658b;background:-moz-linear-gradient(top, #23658b 0%, #1c506e 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #23658b), color-stop(100%, #1c506e));background:-webkit-linear-gradient(top, #23658b 0%, #1c506e 100%);background:-o-linear-gradient(top, #23658b 0%, #1c506e 100%);background:-ms-linear-gradient(top, #23658b 0%, #1c506e 100%);background:linear-gradient(top, #23658b 0%, #1c506e 100%);height:30px;overflow:hidden;padding:5px 8px;position:relative;}
.header-user{position:absolute;top: 5px;right: 8px;}
.header-btn{border-radius:3px;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#e3e3e3;display:block;float:left;font-size:13px;font-weight:bold;line-height:30px;padding:0;position:relative;margin-right:5px;text-decoration:none;text-shadow:0 1px rgba(0, 0, 0, 0.4);}.header-btn span.count{background:#bd2828;-webkit-box-shadow:0 2px 3px #333333;box-shadow:0 2px 3px #333333;border-radius:3px;color:#fff;font-size:13px;font-weight:bold;height:18px;line-height:15px;padding:0 6px;position:absolute;top:-1px;right:-2px;}.header-btn span.count:empty{display:none;}

.list{background:#e3e3e3;border-radius:3px;float:left;margin:0 4px;padding:2px;position:relative;width:225px;border-top:1px solid #fff;border-bottom:1px solid #404040;}
.list-card{background-color:#fff;border:1px solid #b9b9b9;border-bottom-color:#939393;border-radius:3px;cursor:pointer;margin-bottom:4px;min-height:18px;padding:6px 8px 1px;position:relative;-moz-transition-property:background,margin-bottom,opacity;-webkit-transition-property:background,margin-bottom,opacity;transition-property:background,margin-bottom,opacity;-moz-transition-duration:0.2s, 0.1s, 0.2s;-webkit-transition-duration:0.2s, 0.1s, 0.2s;transition-duration:0.2s, 0.1s, 0.2s;-moz-transition-timing-function:ease-out;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;z-index:0;}
.list-cards{clear:both;margin-bottom:0;min-height:20px;overflow-y:auto;overflow-x:hidden;padding:4px 3px 1px;z-index:1;}
